@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-clr: #08bebe;
  --secondary-clr: rgb(238, 200, 217);
  --third-clr: #f6cde3;
  --accent-clr: #db2777;

  --fs-xlarge: 3rem;
  --fs-large: 2rem;
  --fs-medium: 1.5rem;
  --fs-xmedium: 1.3rem;
  --fs-small: 0.8rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  padding-block: 1em;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15vh 38vh 38vh;
  align-content: center;
  /* grid-template-rows: max(15vh, 1fr) max(3vh, 15fr) max(30vh, 15fr); */
  gap: 1rem;
  margin-right: 1rem;
}

.main > div {
  background-color: var(--secondary-clr);
  padding: 1em;
}

.heading {
  grid-column: 1 / 4;

  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.heading .greeting {
  font-size: var(--fs-small);
  opacity: 0.6;
}

.heading .info {
  font-size: var(--fs-xmedium);
  padding: 0.2em 0;
}

.heading-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: end;
}

.heading-menu img {
  width: 1.5em;
  opacity: 0.8;
}

.latest-upload {
  display: grid;
  grid-template-rows: 1fr / 1fr;
}

.latest-upload img {
  width: 80%;
  justify-self: center;
}

.latest-upload div :nth-child(2) {
  font-size: var(--fs-xmedium);
  font-weight: 500;
}

.latest-upload div:nth-child(3) {
  font-size: var(--fs-small);
  margin-top: 0.4em;
  opacity: 0.6;
}

.recent-task {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.recent-task .regular-task div:nth-child(1) {
  font-size: var(--fs-small);
}

.recent-task .regular-task div:nth-child(2) {
  font-size: var(--fs-xmedium);
}

.recent-task .regular-task div:nth-child(3) {
  font-size: var(--fs-small);
  opacity: 0.6;
}

.recent-task .folder-image {
  width: 40%;
}

.recent-task .media {
  display: grid;
  justify-items: center;
  width: 10em;
}

.recent-task .media img {
  width: 40%;
}

.recent-task .media div:nth-child(2) {
  margin-top: 0.4rem;
  font-weight: 600;
}

.recent-task .media div:nth-child(3) {
  opacity: 0.6;
  margin-top: 0.2rem;
  font-size: var(--fs-small);
}

.recent-task .urgent-task {
  display: grid;
  justify-items: center;
  background-color: var(--accent-clr);
  border-radius: 10%;
  width: 10em;
  padding: 1rem 0;
}

.recent-task .urgent-task img {
  width: 30%;
}

.recent-task .urgent-task div:nth-child(2) {
  font-weight: 600;
}

.recent-task .urgent-task div:nth-child(3) {
  opacity: 0.6;
  margin-top: 0.4rem;
}

.daily-plan {
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-image: url(./img/sky.jpg);
  background-position: center;
  padding: 1em;
}

.daily-plan div:nth-child(1) {
  grid-column: 1 / 3;
  font-weight: 600;
  font-size: var(--fs-large);
}

.daily-plan .daily-comment {
  font-size: var(--fs-xmedium);
  margin-top: 0.2em;
  opacity: 0.6;
}

.daily-plan .temperature {
  font-size: var(--fs-xlarge);
  margin-top: 0.5em;
}

.daily-plan .add-plan {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  place-self: end end;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 30% 0 30% 30%;
  text-align: center;

  display: grid;
  place-items: center center;
}

.daily-plan .add-plan div {
  font-size: var(--fs-small);
  background-color: var(--accent-clr);
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;

  display: grid;
  place-items: center center;
}

.app-news {
  display: grid;
  align-items: center;
}

.app-news .app-list {
  display: grid;
  grid-template-columns: 8fr 1fr;
  align-items: center;
  padding: 0.2em 0;
  font-size: var(--fs-small);
}

.earning {
  display: grid;
  align-content: center;
  justify-items: center;
}

.earning div:nth-child(2n + 1) {
  font-size: var(--fs-xmedium);
  opacity: 0.6;
}

.earning div:nth-child(2n) {
  font-size: var(--fs-large);
}

.sidebar {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 1fr 6fr;
  background-color: var(--primary-clr);
  margin: 0 1em;
  padding: 2em;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.sidebar .brand {
  display: grid;
  place-items: center;
  font-size: var(--fs-large);
  color: var(--accent-clr);
}

.sidebar .account {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.sidebar .account .account-pic {
  width: 2.5em;
  border-radius: 50%;
}

.sidebar .account .name {
  font-size: 1rem;
}

.sidebar .account .label {
  font-size: var(--fs-small);
  opacity: 0.8;
}

.sidebar .menu {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(7, 1fr);
}

.sidebar .menu-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.sidebar img {
  width: 1em;
}

.sidebar img:nth-child(3) {
  justify-self: end;
}
