@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-clr: #be185d;
  --secondary-clr: #f9a8d4;
  --third-clr: #f6cde3;
  --accent-clr: #0d9488;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* min-height: 100vh; */
  padding: 30px;
  gap: 40px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr 2fr;
  gap: 40px;
}

.heading {
  grid-column: 1 / 4;
  padding: 1em 0;

  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.heading .greeting {
  font-size: 1rem;
  opacity: 0.6;
}

.heading .info {
  font-size: 1.5rem;
  padding: 0.5em 0;
}

.heading-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.heading-menu img {
  width: 2em;
  opacity: 0.8;
}

.latest-upload img {
  border-radius: 10%;
  background-color: var(--third-clr);
  width: 100%;
}

.latest-upload div:nth-child(2) {
  margin-top: 1em;
  font-weight: 400;
}

.latest-upload div:nth-child(3) {
  margin-top: 0.5em;
  opacity: 0.6;
}

.recent-task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

.recent-task .regular-task {
  margin-left: 1rem;
}

.recent-task .regular-task div:nth-child(2) {
  font-size: 1.5rem;
}

.recent-task .regular-task div:nth-child(3) {
  margin-top: 0.4rem;
  opacity: 0.6;
}

.recent-task .folder-image {
  width: 100%;
}

.recent-task .media {
  display: grid;
  justify-items: center;
}

.recent-task .media img {
  width: 30%;
}

.recent-task .media div:nth-child(2) {
  font-weight: 600;
}

.recent-task .media div:nth-child(3) {
  opacity: 0.6;
  margin-top: 0.4rem;
}

.recent-task .urgent-task {
  display: grid;
  justify-items: center;
  background-color: var(--secondary-clr);
  background-color: #00046b;
  padding: 1.5rem 0;
  border-radius: 10%;
  color: white;
}

.recent-task .urgent-task img {
  width: 30%;
}

.recent-task .urgent-task div:nth-child(2) {
  font-weight: 600;
}

.recent-task .urgent-task div:nth-child(3) {
  opacity: 0.6;
  margin-top: 0.4rem;
}

.daily-plan {
  display: grid;
  grid-template: 1fr 1fr;
  grid-template-rows: 0.33fr 0.33fr 0.33fr;
  background-image: url(./img/sky.jpg);
  background-position: center;
  border-radius: 10%;
  padding: 2.5em;
}

.daily-plan div:nth-child(1) {
  grid-column: 1 / 3;
  font-weight: 600;
  font-size: 2rem;
}

.daily-plan .daily-comment {
  font-size: 1rem;
  margin-top: 0.5em;
  opacity: 0.6;
}

.daily-plan .temperature {
  font-size: 3rem;
  margin-top: 0.5em;
}

.daily-plan .add-plan {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  place-self: end end;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 30% 0 30% 30%;
  text-align: center;

  display: grid;
  place-items: center center;
}

.daily-plan .add-plan div {
  font-size: 1em;
  background-color: rgb(25, 56, 231);
  color: white;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;

  display: grid;
  place-items: center center;
}

.latest-updates {
  grid-column: 1 / 4;
  background-color: var(--accent-clr);
}

.sidebar {
  background-color: var(--primary-clr);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
